/* Zenmine Theme version 1.0, Copyright (C) 2019 Luis Blasco www.bestredminetheme.com */


@media screen and (min-width: 900px) and (max-width: 1700px){

	.controller-favorite_projects .filters{
		margin-top: 120px;
	}	
	
}

@media screen and (min-width: 900px) and (max-width: 1400px){
	
	#top-menu #loggedas + ul{
		overflow: hidden;
		width: 80%;
	}

}

@media screen and (min-width: 1024px){
	
	.current-project, #header .breadcrumbs a{
		width:100%;
	}
	
}

@media screen and (min-width: 1220px){

}
	
/*@media screen and (min-width: 899px){	

	 #quick-search select{
		border-radius: 5px;
		border: 0;
		padding: 11px 46px 11px 20px;
		color: #FFF;
		height: initial;	
		margin-right: 10px;
		margin-top: -2px;
		font-size: 13px;
		background-image: url(../images/arrow-down2.png);
		background-repeat: no-repeat;
		background-position:94% center;
		border:0px;
	    outline:0px;
		 appearance:none;
		-moz-appearance:none;
		-webkit-appearance:none;	
		cursor:pointer;
		box-sizing: content-box;
	}

	#quick-search select:hover{	
		background-image: url(../images/arrow-down.png);
	}

}*/


@media screen and (max-width: 1024px){
	
	#sidebar a, #sidebar p label{
		padding-left:0;
		padding-right:0;		
	}
	
	#sidebar li{
		white-space: nowrap;
	}
	
	#admin-index #admin-menu li{
		margin:10px;
	}

	.openclose::before {
		display: none;
	}

}

@media screen and (max-width: 899px){
	
	body{
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent;
	}

	body:not(.admin) form .collapsible.collapsed {
    	height: 40px !important;
	}

	.splitcontentleft, #list-left{
		padding-right:0 !important;
	}
	
	h1, h2, h3, h4{
		margin: 10px 0;
	}
	 #history h4{
		margin: 0 0 10px 0; 
	}
	
	form {
		font-size: 12px !important;
	}
	
	#content{
		padding: 2%;
		width: 100% !important;		
	}	

	#content >  h2, #content >  h2 + p{
		text-align: center;
	}
	
	#content >.contextual{
		text-align: center;
	}
	
	.tabular select{
		width: 77% !important;
	}

	.tab-content#tab-content-info p label, body.controller-boards.action-new p label{
		width:initial !important;
	}
	
	.tabular label, .tabular.settings label{
		font-weight: 500 !important;
	}	
	
	#content .tabs ul li{
		margin-right: 2px;
	}
	
	div.flash.notice, #errorExplanation, .nodata, #errorExplanation + p, h2 ~ #errorExplanation{
		margin-bottom: 30px;
		width: 90%;
	}
	
	input[type=submit], input[type=submit] + a{
		float: none;
		border-width: 2px !important;
		padding: 10px 20px !important;
	}		
	
	 fieldset input[type=submit]{
		float: none !important;
		padding: 10px 20px !important;
	}

	span.pagination .items{
		float: none;
	}
	
	html >  body #content{
		min-height: 0;
	}
	
	.pagination ul.pages li.current, .pagination ul.pages li.previous, .pagination ul.pages li.next{
		width: initial !important;
		padding: 0 8px;
	}
	
	body:not(.controller-issues) #query_form{
		margin-bottom: 20px !important;
	}
	
	.flyout-menu h3, .flyout-menu h4, .flyout-menu > p, .flyout-menu > a, .flyout-menu ul li a, .flyout-menu__search, .flyout-menu__sidebar > div, .flyout-menu__sidebar > p, .flyout-menu__sidebar > a, .flyout-menu__sidebar > form, .flyout-menu > div, .flyout-menu > form{
		padding:0 !important;
	}
	
	h2 .live_search{
		display: block;
		padding-top: 12px;
	}
	
	#api-access-key{
		letter-spacing:0;
		padding:0 22px;
	}
	
	div.ui-dialog{
		text-align:center;
	}

	label[for=available_c], label[for=selected_c]{
		position:unset;
		top:unset;
	}

	#projects-index ul.projects div.root a.project{
		font-size:1.6rem;
	}

	#projects-index {
    	font-size: 1.4rem;
	}

	.action-login div.flash, .action-register div.flash{
		position:relative;
		width:50%;
		right: initial;
    	bottom: initial;
	}
	
}


/**********************************************************/
/* HEADER */
/**********************************************************/

@media screen and (max-width: 899px){		
	
	#header{
		background-color:#fff !important;
		background-image: none;
		position:relative !important;
		height: 55px !important;
		min-height: 0 !important;
		right:0!important;
		top:0 !important;
		background-position: 20% -2px;
    	background-repeat: no-repeat;
	}

	
	#main {
		padding-top: 0 !important;
		background-color:#FFF;
	}

	#sidebar{
		display:none !important;
	}
	
	.action-login #header, .action-register #header, .action-lost_password #header{
		pointer-events: initial;
		background-color: transparent !important;
		position:fixed !important;	
		width:100%;		
	}
	
	.mobile-toggle-button{
		border-left: 0 !important;
		margin-top: -4px !important;
		height: 59px !important;
		float: left !important;
	}
	
	.mobile-toggle-button:after{
		margin-top:0px !important;
		font-family: "zenmine" !important;
    	display: block !important;
    	margin-top: 0 !important;
    	content: '\e831' !important;
    	-webkit-transform: rotate(90deg);
    	-moz-transform: rotate(90deg);
    	-o-transform: rotate(90deg);
    	-ms-transform: rotate(90deg);
    	transform: rotate(90deg);
    	font-size: 3rem !important;
	}

	.home::after {
        display: none;
    }	

	.flyout-menu{
		right: 0 !important;
		left: -250px !important;
		height: 100% !important;
	}

	#wrapper{
		left: 0px; 
	}	
	
	.flyout-menu,  #wrapper,  #header,  #project-jump .drdn-trigger {	
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	
	.flyout-menu h3{
		width: 100%;
	}
	
	.flyout-menu h3, .controller-my .flyout-menu h4{
		background-color: rgba(0,0,0,0.1)!important;
		border-top: 0 !important;
		border-bottom: 0 !important;
		font-size: 12px !important;
		font-weight: 500 !important;
		padding: 5px 25px !important;
		margin-top: 5px !important;
		height: initial !important;
	}
	
	.flyout-menu h4{
		background-color: transparent !important;
	}
	
	.flyout-is-active #wrapper{
		left: 250px !important;		
	}

	.flyout-menu .login::after, .flyout-menu .register::after, .flyout-menu .logout::after, .flyout-menu .my-account::after{
		margin-left:4px;
	}
	
	.flyout-menu ul{
		margin:0 !important;
		padding: 0 !important;
	}
	
	.flyout-menu p{
		font-size:11px;
		letter-spacing:1px;
		line-height: 0px;
	}
	
	.flyout-menu ul li a{
		height: initial !important;
		padding-left: 24px !important;
	}
	
	.flyout-menu ul li a:before{
		color: rgba(255,255,255,0.5)!important;
		margin-right: 4px;
	}
	
	.flyout-menu__sidebar a{
		padding-left: 22px !important;
		line-height: 40px !important;
		text-overflow: ellipsis;		
		overflow:hidden;
	}
	
	.flyout-menu__sidebar p a{
		padding-left: 0 !important;
	}
	
	.flyout-menu__sidebar >  p {
		padding-left: 26px !important;
		padding-right: 20px !important;
		display: inline-block;
	}

	.flyout-is-active .action-login #header, .flyout-is-active .action-register #header,.flyout-is-active .action-lost_password #header{
		right: -250px !important;
	}
	
	.flyout-is-active .flyout-menu{
		width: 250px !important;
		z-index: 999;
	}
	
	#project-jump .drdn-trigger{
		padding-right: 0 !important;
		font-size: 1.6rem !important;
		line-height: 3rem !important;
		font-weight: 500 !important;
		width: initial !important;
		height: 30px !important;
		margin-left: 15% !important;
		margin-right: 10% !important;
	}	
	
	#project-jump .drdn-trigger:before{
		content: none !important;
	}


	#project-jump .drdn-trigger:after{
		font-size: 3rem;
	}
	
	#project-jump.drdn {
		padding-right: 0 !important;
		padding-left: 70px !important;		
	}	
	
	.drdn-content{
		border-radius:0px !important;
	}
	
	.drdn-items > *:focus{
		border: 0 !important;
	}
	
	.flyout-menu .flyout-menu__avatar{
		padding: 10px 25px !important;
	}
	
	.flyout-menu__avatar a{
		margin-right: 10px;
	}
	
	.flyout-menu a {
		font-size: 1.4rem !important;
	}
	
	.flyout-menu__sidebar > p a, .flyout-menu__sidebar >  div:not(#admin-menu) a {
		text-decoration:underline;
	}
	
	.search-magnifier--flyout{
		display: none;
	}
	
	.flyout-menu__search input[type='text']{
		padding-left: 10px !important;
		border-radius: 5px !important;
		width:90% !important;	
		margin-left:5%;
		margin-top: 3%;
		font-size: 1.5rem !important;
	}

	.quick-search::after {
    	position: absolute;
    	top: 2rem;
    	right: 3rem;
    	font-size: 2rem;
	}
	
	#project-jump .drdn-content{
		top: 55px !important;
		right: 2% !important;
		left: initial !important;
		width: calc(100% - 60px) !important;
	}	
	
	#project-jump .drdn-content .autocomplete {
		height: 30px !important;
    	font-size: 1.8rem !important;
    	width: 94% !important;
	}
	
	.drdn-content .quick-search{
		text-align:center;
	}
	
	#quick-search {
		padding-top: 10px;
		background: initial !important;
	}
	
	#quick-search select{
		margin-left: 5%;
		background-color:#fff;
	}
	
	#top-menu, #header #main-menu {
		display: none !important;
	}

}


/**********************************************************/
/* BUTTONS */
/**********************************************************/

@media screen and (max-width: 899px){
	
	.admin #content > .contextual a, .admin p.buttons a, .flyout-menu input[type=submit]{
		border-radius: 5px !important;
		padding: 10px 40px !important;
		border: 2px solid #fff !important;
		cursor: pointer;
		color:#fff !important;
	}
	
	#content > .contextual a,  p.buttons a{
		padding: 10px 20px !important;
		cursor: pointer;
		border:0 !important;
		font-weight: initial !important;
	}
	
	#content >.contextual{
		margin-bottom: 20px !important;
	}
	
	span.checkbox.on, span.radiobox.on {
		width: 19px;
		height: 19px;
	}
	
	.flyout-menu span.checkbox{
		margin-top:9px;
	}
	
	.flyout-menu__sidebar form > ul li label{
		height:0;
	}
	
	.flyout-menu__sidebar form > ul li {
		line-height: 22px !important;
		display: block !important;
		padding-left: 18px !important;
		border-top: 0 !important;
	}
	
	.flyout-menu__sidebar form > ul li a{
		padding-left: 0px !important;
	}	
	
	.icon-only {
		padding-left: 16px !important;
		width: 38px !important;
	}
	
	a.atom, a.pdf, a.csv, a.png, a.vcf, a.xls {
		display: inline-block;
		margin-bottom:4px;
	}	
	
	.controller-projects.action-settings .tabular input{
		width: initial !important;
	}
	
	.controller-projects.action-settings .tabular .icon-del{
		padding: 10px 22px !important;
	}

	.admin .icon.icon-add, .admin .icon.icon-summary, fieldset input[type=submit]{
		min-height:initial !important;
	}

	.icon.icon-reload.btn.btn-sm.btn-outline-dark {
    	float: left;
	}

}

@media screen and (max-width: 899px){
	.filtercheckmark {
        position: relative;
        top: 0px;
	}

}

/**********************************************************/
/* FORMS */
/**********************************************************/

@media screen and (max-width: 899px){
	
	.pagination ul.pages{
		margin: 15px 0;
		padding: 0;
		display: inherit;
	}
	
	#query_form_with_buttons {
		margin-bottom: 20px !important;
	}
	
	input.file_selector.filedrop {
		width: 100% !important;
	}
	
	body:not(.admin):not(.controller-my):not(.controller-projects) form{
		margin-top:0;
		margin-bottom:0;
	}
	
}


/**********************************************************/
/* LOGIN */
/**********************************************************/

@media screen and (max-width: 899px){
	
	#hero{
		display:none;
	}

	.action-login #login-form{
		width: 100%;
	}
	
	.action-login #login-form input[type=text], .action-login #login-form input[type=password]{
		font-size: 22px;
		margin-bottom: 30px;
	}
	
	#login-form{
		margin:0;
		width:100% !important;
	}

	.action-register #login-form form{
		display:block;
	}
	
}




/**********************************************************/
/* FOOTER */
/**********************************************************/

@media screen and (max-width: 899px){
	
	#footer{
		padding: 0 0 20px 0 !important;
		font-size: 1.1rem !important;
		line-height:1.3rem !important;
		width: 100% !important;
		bottom: auto !important;
		position:unset !important;
	}

	#footer .bgl{
		margin:0 5%;
	}
	
}

/**********************************************************/
/* MY PAGE */
/**********************************************************/

@media screen and (max-width: 899px){
	
	.mypage-box .contextual{
		padding-left: 6px;
	}
	
	.mypage-box h3{
		text-align:left;
		padding: 17px 20px 10px 20px;
	}		
	
	.sort-handle{
		width:20px;
	}

}


/**********************************************************/
/* PROJECTS */
/**********************************************************/

@media screen and (max-width: 899px){
	
	.controller-projects.action-index span.checkbox{
		margin-left: 10px;
		margin-top: 18px;
	}

}

/**********************************************************/
/* ACTIVITY */
/**********************************************************/

@media screen and (max-width: 899px){	

	#activity dt .project{
		display:block;
		margin-top: 10px;
	}
	
	#activity dt img.gravatar{
		margin-left: 0;
		margin-bottom: 0 !important;
	}	
	
}


/**********************************************************/
/* ISSUES */
/**********************************************************/

@media screen and (max-width: 899px){	

	
}

/**********************************************************/
/* TIME */
/**********************************************************/

@media screen and (max-width: 899px){	

	.controller-timelog.action-index #content form:nth-of-type(2){
		padding:15px;
	}
	
	.controller-timelog .query-totals{
		margin-top:-20px;	
	}
	
}


/**********************************************************/
/* GANTT */
/**********************************************************/

.controller-gantts #content >.contextual:first-of-type{
	margin-bottom:0 !important;
}

.gantt_subjects .icon{
	padding-left: 0;
}

@media screen and (max-width: 899px){
	
	.controller-gantts h2{
		margin-top:-20px;
		margin-bottom:20px;
	}
}


@media screen and (max-width: 899px) {

	div.journal h4::after {
    	left: 10px;
    }

}

/**********************************************************/
/* REPOSITORY */
/**********************************************************/

@media screen and (max-width: 899px){
	
    .controller-repositories .contextual {
        position: unset;
    }
}


@media screen and (max-width: 899px) {div.journal h4::after {
    left: 10px;
    }
}

/**********************************************************/
/* AGILE */
/**********************************************************/

@media screen and (max-width: 899px){	

	.controller-agile_boards #content form{
		padding:15px;
	}
	
	.controller-agile_boards table.list > tbody > tr > td{
		padding:2px;
	}	
	
	.controller-agile_boards .issue-card{
		padding: 0px 0 15px 0 !important;
	}
	
	.issue-card .issue-id, .issue-card .name{
		padding-left:10px;
	}
	
	.controller-agile_boards table.list th{
		padding: 0px 5px 10px 5px;
	}
	
	.new-card__input{
		padding:0;
	}
	
	.list.issues-board.status-colors.sticky{
		margin: 0;
		top: 0;
	}

}


/**********************************************************/
/* ADMINISTRATION */
/**********************************************************/

@media screen and (max-width: 899px){
	
	.admin fieldset{
		margin-bottom: 0;
		text-align:center;
	}
	
	div.tab-content fieldset{
		text-align:left;
	}
	
	.admin fieldset >  *{
		float:none;
		margin-right: 0;		
	}
	
	.admin fieldset select:not([multiple]),.admin fieldset input[type=text]{
		width:74%;
	}
	
	.admin :not(#sidebar) input[type=submit]{
		margin-top:10px;		
	}	

	#admin-menu a{	
		margin-left: -10px !important;	 
		margin-bottom: 0 !important;
		padding: 0 !important;
	}

	#admin-menu li .icon, #admin-menu li .additionals, #admin-menu li a {
    	color: #fff;
	}

	.flyout-is-active #admin-menu li a.additionals::before {
    	padding-left: 24px !important;
	}

	#admin-menu li .icon:hover, #admin-menu li:hover .additionals, #admin-menu li a:hover {
    	color: #dddddd;
	}

	#admin-menu .flyout-menu a{	
		color: #fff !important;
	}
	 
	#admin-menu a.selected, .flyout-menu a.selected{
		background-color: #fff !important;
		color: #555 !important;
		border-radius: 0;
	}
	  
	   #admin-menu a.selected::before, .flyout-menu a.selected::before{
		color: #555 !important;		
	}

	#admin-menu a.selected:after{
		content: none;			
	}

	#admin-menu li a:before{
		opacity:1;
		margin-top: 0 !important;
		margin-left: 0 !important;
		margin-bottom: 0 !important;
		margin-right: 4px !important;
		font-size: 16px !important;
	}
	
	#admin-index #admin-menu li{
		width: 42% !important;
		margin: 4% !important;
	}
	
	#admin-index #admin-menu li a{
		width: 100% !important;
		margin-left: 0 !important;
		padding-left: 0 !important;
		padding-top: 10px !important;
		font-size: 14px !important;
		line-height: 12px !important;
		letter-spacing: 1px !important;
	}
	
	#admin-index #admin-menu li a:before{
		margin-bottom: 18px !important;
	}
	
	.admin #content >  h2{
		margin-bottom: 30px;
	}
	
	.admin .box{
		margin-top: 0;
		margin-bottom: 20px;
		text-align: left;
	}	
	
	.controller-settings.action-plugin #tab-content-general >  p:last-of-type{
		display: block;
	}
	
	.controller-settings.action-plugin #tab-content-general >  p:last-of-type span.radiobox{
		margin-right: 8px;
	}

}


/**********************************************************/
/* PLUGINS */
/**********************************************************/

@media screen and (max-width: 899px){
	
	
	.people_header{
		margin-left:0;
		text-align:center;
		width:90%;
		margin-left: -25px;
	}
	
	.contacts_header{
		margin-left:0;
		text-align:center;
		width:90%;
		margin-left: -25px;
	}
	
	.controller-favorite_projects.action-search #query_form h2{
		margin-left:0;
		text-align:center;
		width:90%;
		margin-left: -25px;
	}

	 .controller-deals .contacts_header{
		margin-left: 0px;
	 }
	
	.flyout-menu table.note_data td.name h4 {
		margin:0 !important;
		font-size: 11px;
		display: inherit;		
	}
	
	table.person_data td.name h4{
		margin:0 !important;
		text-align:left !important;
		letter-spacing: 2px !important;
	}
	
	table.note_data .content.preview {
		margin: 5px 0px 0px 0px;
		font-size: 11px !important;
		color: #000 !important;
		font-style: italic;
		text-transform: none !important;
		line-height:11px;
	}
	
	table.note_data td.name{
		font-size:11px !important;
	}
	
	.controller-favorite_projects.action-search #query_form{
		margin-top: 240px !important;
	}
	
	.controller-contacts .contacts_header, .controller-people .contacts_header{
		margin-left: 0;
		margin-top: -120px;
		text-align: center;
	}
	
	 .controller-orders.action-index .contacts_header,  .controller-products.action-index .contacts_header{
		 margin-left: 0;
	 }
	
	.person.attributes.vcard{
		padding-left: 22px;
		margin-top: 20px;
	}

	.person.attributes tr td {
		font-size: 11px;
		letter-spacing: 0;
	}
	
	.flyout-menu #attributes .contextual {
		float: right;
		padding: 0;
		margin-right: 10px;
		margin-top: -7px;
	}
	
	.controller-favorite_projects div.project_card{
		width:100%;
		padding:4%;
	}
	
	.board.details > .contextual{
		margin:40px auto;
		text-align: center;
		float: none;
	}
	
	.question-meta li{
		margin: 14px 19px;
		font-size: 11px;
	}
	
	.orders-stat th, .invoices-stat th{
		padding: 14px 19px 4px 19px !important;
		font-size: 11px;
	}

}